<h1><%= t('profiles.list.header').titlecase %></h1>
<div class="searchfield">
  <%= form_tag({:controller => 'public_profiles', :action => 'search'}, { :remote => true}) do %>
    <%= label_tag :search, t('profiles.search').capitalize %>
    <%= text_field_tag :search %>
    <%= submit_tag :go %>
  <% end %>
</div>
<ul id="profiles" class="list">
  <%= render @public_profiles %>
</ul>
