<h1>Profile List</h1>
<div class="searchfield">
  <%= form_tag({:controller => 'public_profiles', :action => 'search'}, { :remote => true}) do %>
    <%= label_tag :search, t('search') %>
    <%= text_field_tag :search %>
    <%= submit_tag :go %>
  <% end %>
</div>
<div id="profiles">
  <%= render @public_profiles %>
</div>
