<!DOCTYPE html>
<html>
<head>
  <title>TribeLights</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <% if flash[:notice] %>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="flash error">
      <%= flash[:error] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
