<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @account.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @account.last_name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @account.birthday %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
